<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FFAB0F" />
    <meta name="description" content="Kotak Saran PT. PLN (Persero)" />
    <link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet">

    <title>Papan Aspirasi Online Terbuka PT. PLN (Persero)</title>

    <link
      id="favicon"
      rel="icon"
      href="https://res.cloudinary.com/codelifings/image/upload/v1597208457/megaphone_osynts.png"
      type="image/png"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />


    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
       Kotak Saran PT. PLN (Persero)
      </h1>
    </header>
    
    <main>
      <p>Papan Aspirasi Online Terbuka</p>
      <br />
      <a href="https://portal.pln.co.id/"
        ><button>
          Website Official
        </button></a
      >
      <a href="https://layanan.pln.co.id"
        ><button>
          Layanan &#128204;
        </button></a
      >
      
      <br><br><br>
      <marquee>Berikan kami saran yang dapat meningkatkan pelayanan kami menjadi lebih baik dan maksimal menurut anda</marquee>
      <br><br>
      <form>
        <textarea
          name="dream"
          aria-label="a new dream"
          type="text"
          maxlength="100" class="u-full-width"></textarea>
        <button type="submit" id="submit-dream">Posting</button>
      </form>

      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>
    
  </body>
</html>
