<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PM Your Social Media For Free!">

    <title>PM Your Social Media For Free!</title>

    <link id="favicon" rel="icon" href="https://res.cloudinary.com/codelifings/image/upload/v1597208457/megaphone_osynts.png" type="image/png">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        🌞 Hello, Sunshine!
      </h1>
    </header>

    <main>
      <p class="bold">PM Your Social Media For Free!</p><br>
      <a href="https://nisacodelifings.glitch.me"><button>
         support me here 😆
      </button></a> <a href="https://nisacodelifings.glitch.me" class="jarak-pinggirkiri"><button>
         how to use? 😅
      </button></a>
      
      <p>Tell us what you would like to offer to be followed, or visited, from your stuff</p>
      <p>
        Example :<br>
        &rarr; "Follow me! at nscdlg and i will follback you soon! on twitter and instagram"<br>
        &rarr; "Visit My Shop here.. https://somewhere.com"
      </p>
      
      <p>
        Let's try it now.. 😍
      </p>
      
      <form>
        <input name="dream" aria-label="a new dream" type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit" id="submit-dream">Submit Dream</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
      
    </main>

  </body>
</html>
