/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  background: #1B1B32;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #008585;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 3px solid #0A0A23;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  color: white;
  border-radius: 3px;
  background-color: #1B1B32;
  border: 1px solid #0A0A23;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: #0A0A23;
}

button:active {
  box-shadow: none;
}

li {
  margin: 10px;
  padding: 5px;
  width: 250px;
  list-style-type: none;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  background-color: #1B1B32;
  border: 1px solid #0A0A23;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  
}

@media (min-width: 1024px) {
  body{
    padding-left: 25%;
  } 
}

.jarak-pinggirkiri{
  margin-left: 5px;
}